<%= render 'pages/home' if !user_signed_in? %>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= image_tag pin.image.url(:medium) %>
      <div class="panel-body">
        <%= pin.description %>
        <br>
        <%= pin.user.name if pin.user %>
        <%= link_to 'Show', pin, style: "color:red" %>
        <% if pin.user == current_user %> 
          <%= link_to 'Edit', edit_pin_path(pin), style: "color:red" %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, style: "color:red" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

