<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/Pinterest_Sticker_Icon_Set_LBOI/512/_round_pinlove.png">
    <title>Pinteresting | John's OMR Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
  </head>
  <body>

  <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

       
    
    <%= yield %>
  </div>
  </body>
</html>
